{% extends 'pages/base.html' %}
{% load static %}

{% block main %}
  <div class="container mt-3">
    <p>
      MEDICS database contains searchable data on the academic studies and medical careers of all Finnish physicians
      who graduated and were entered into the medical register between 1896 and 1929. Their total number is a little
      short of 1000. Since the primary selection criterion has been graduation and “legitimation” (laillistaminen), or
      medical registration, the cohort does not include people who studied medicine but did not graduate as licentiates
      of medicine. Licentiate of Medicine degree was (and is) the basic medical degree in Finland. Neither does MEDICS
      include foreign doctors who worked in Finland with a special permission, “venia practicandi”. Almost all doctors
      included in the database graduated from the Medical Faculty of the University of Helsinki (called the Imperial
      Alexander University until 1917), which was the only medical school in the country, after which they were licensed
      by the National Board of Health (Lääkintöhallitus).
    </p>
    <figure class="figure">
      <img src="{% static 'pages/img/MEDICS_001_RUNEBERG.jpg'%}" class="figure-img img-fluid rounded"
           alt="A generic square placeholder image with rounded corners in a figure.">
      <figcaption class="figure-caption text-right">
        Professor Runeberg’s clinical rounds, the Clinic of Internal
        Medicine, Helsinki University Hospital, in the 1890s.
        (Photo: unknown photographer. Helsinki University Museum.)
      </figcaption>
    </figure>
    <figure class="figure">
      <img src="{% static 'pages/img/MEDICS_002_ANATOMY.jpg'%}" class="figure-img img-fluid rounded"
           alt="A generic square placeholder image with rounded corners in a figure.">
      <figcaption class="figure-caption text-right">
        An anatomical dissection at “Aasis”, or the Department of Anatomy,
        University of Helsinki, at the turn of the twentieth century.
        (Photo: Unknown photographer. Helsinki University Museum.)
      </figcaption>
    </figure>
    <figure class="figure">
      <img src="{% static 'pages/img/MEDICS_003_INTERNAL_CLINIC.jpg'%}" class="figure-img img-fluid rounded"
           alt="A generic square placeholder image with rounded corners in a figure.">
      <figcaption class="figure-caption text-right">
        Dr Anni Seppänen, a nurse and a patient at the First Internal Clinic (”the New Clinic”) in the 1920s.
        (Photo: Unknown photographer. Helsinki University Museum.)
      </figcaption>
    </figure>
    <figure class="figure">
      <img src="{% static 'pages/img/MEDICS_004_LABORATORY.jpg'%}" class="figure-img img-fluid rounded"
           alt="A generic square placeholder image with rounded corners in a figure.">
      <figcaption class="figure-caption text-right">
        Medical students in a laboratory in February 1917.
        (Photo: Unknown photographer. Helsinki University Museum.)
      </figcaption>
    </figure>
    <figure class="figure">
      <img src="{% static 'pages/img/MEDICS_005_MEDICAL_WOMEN.jpg'%}" class="figure-img img-fluid rounded"
           alt="A generic square placeholder image with rounded corners in a figure.">
      <figcaption class="figure-caption text-right">
        The meeting of the Finnish Medical Women’s Club in the 1920s. (Photo: Photographer unknown.
        The Archives of the Finnish Society of Women Physicians. National Archives, Helsinki.)
      </figcaption>
    </figure>
    <p>
      The data was collected from various public registers and publications (Lääkärien nimikirjat, lääkärimatrikkelit,
      Valtiokalenteri etc.) as part of the research project Exclusive Treatment: Women’s Entry into Medicine in Finland,
      1882-1917, carried out by Senior Research Fellow Heini Hakosalo (University of Oulu) and funded by the Academy of
      Finland.
    </p>
    <p style="font-style: italic; font-weight: bold; color: red">
      None: Dentists (i.e. licentiates of odontology) are not included in the database, unless they also graduated as
      licentiates of medicine.
    </p>
    <p>
      The interface was designed and executed by <b>Shukhrat Mirrakhimov</b>, <b>Maria Shushakova</b>,
      <b>Polina Chainikova</b> and <b>Daria Efimova</b> and first published online on December 2021.
    </p>
    <p>
      Data found on the <a href="{% url 'index' %}">Home</a> tab can be used without attribution. If you use or refer to
      the material found under
      the <a href="{% url 'charts' %}">Charts</a> tab, however, please attribute to Heini Hakosalo, MEDICS database.
    </p>
    <div class="row">
      <div class="col"><img class="free-use" src="{% static 'pages/img/free-use-1.png' %}" alt="img title 1"/></div>
      <div class="col"><img class="free-use" src="{% static 'pages/img/free-use-2.png' %}" alt="img title 2"/></div>
    </div>
  </div>
{% endblock main %}