{% extends 'pages/base.html' %}

{% block main %}
  <div class="container" style="margin-top: 1rem">
    <div class="card shadow-sm">
      <h5 class="card-header">Profile</h5>
      <div class="card-body">
        <div class="row">
          <div class="col"><p class="mb-0">Name: <b>{{ person.name }}</b></p></div>
          <div class="col"><p class="mb-0">Gender: <b>{{ person.gender }}</b></p></div>
        </div>
        <div class="row">
          <div class="col"><p class="mb-0">Date of birth: <b>{{ person.birth }}</b></p></div>
          <div class="col"><p class="mb-0">Date of death: <b>{{ person.death }}</b></p></div>
        </div>
        <div class="row">
          <div class="col"><p class="mb-0">Place of birth: <b>{{ person.place_of_birth }}</b></p></div>
          <div class="col"><p class="mb-0">Language: <b>{{ person.language }}</b></p></div>
        </div>
      </div>
    </div>
    <div class="card shadow-sm" style="margin-top: 1rem">
      <h5 class="card-header">Family</h5>
      <div class="card-body">
        <div class="row">
          <div class="col"><p class="mb-0">Father: <b>{{ person.father }}</b></p></div>
          <div class="col"><p class="mb-0">Occupation: <b>{{ person.father.occupation }}</b></p></div>
        </div>
        <div class="row">
          <div class="col"><p class="mb-0">Mother: <b>{{ person.mother }}</b></p></div>
          <div class="col"><p class="mb-0">Occupation: <b>{{ person.mother.occupation }}</b></p></div>
        </div>
        <table class="table table-hover table-bordered mt-3">
          <thead>
          <tr>
            <th scope="col">Spouse</th>
            <th scope="col">Date of marriage</th>
            <th scope="col">Occupation</th>
          </tr>
          </thead>
          <tbody>
          {% for spouse in spouses %}
            <tr>
              <td>{{ spouse.name }}</td>
              <td>{{ spouse.date_of_marriage }}</td>
              <td>{{ spouse.occupation }}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
        <table class="table table-hover table-bordered mt-3">
          <thead>
          <tr>
            <th scope="col">Child</th>
            <th scope="col">Date of birth</th>
          </tr>
          </thead>
          <tbody>
          {% for child in children %}
            <tr>
              <td>{{ child.name }}</td>
              <td>{{ child.date_of_birth }}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <div class="card shadow-sm" style="margin-top: 1rem">
      <h5 class="card-header">Examinations</h5>
      <div class="card-body">
        <table class="table table-hover table-bordered">
          <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Date</th>
            <th scope="col">School</th>
            <th scope="col">Grade</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>Matriculation</td>
            <td>{{ matriculation.date }}</td>
            <td>{{ matriculation.school }}</td>
            <td>{{ matriculation.grade }}</td>
          </tr>
          <tr>
            <td>Premedical</td>
            <td>{{ premedical.date }}</td>
            <td>{{ premedical.school }}</td>
            <td>{{ premedical.grade }}</td>
          </tr>
          <tr>
            <td>Candidate of Philosophy</td>
            <td>{{ candidate_of_philosophy.date }}</td>
            <td>{{ candidate_of_philosophy.school }}</td>
            <td>{{ candidate_of_philosophy.grade }}</td>
          </tr>
          <tr>
            <td>Candidate of Medicine</td>
            <td>{{ candidate_of_medicine.date }}</td>
            <td>{{ candidate_of_medicine.school }}</td>
            <td>{{ candidate_of_medicine.grade }}</td>
          </tr>
          <tr>
            <td>Licentiate of Medicine</td>
            <td>{{ licentiate_of_medicine.date }}</td>
            <td>{{ licentiate_of_medicine.school }}</td>
            <td>{{ licentiate_of_medicine.grade }}</td>
          </tr>
          {% if person.gender == 'Female' %}
            <tr>
              <td>Dispensation</td>
              <td>{{ dispensation.date }}</td>
              <td>{{ dispensation.school }}</td>
              <td>{{ dispensation.grade }}</td>
            </tr>
          {% endif %}
          <tr>
            <td>Legalisation</td>
            <td>{{ legislation.date }}</td>
            <td>{{ legislation.school }}</td>
            <td>{{ legislation.grade }}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="card shadow-sm" style="margin-top: 1rem">
      <h5 class="card-header">Career</h5>
      <div class="card-body">
        <div class="row">
          <div class="col"><p>Name: <b>{{ person.name }}</b></p></div>
          <div class="col"><p>Gender: <b>{{ person.gender }}</b></p></div>
        </div>
        <div class="row">
          <div class="col"><p>Date of birth: <b>{{ person.birth }}</b></p></div>
          <div class="col"><p>Date of death: <b>{{ person.death }}</b></p></div>
        </div>
        <div class="row">
          <div class="col"><p>Place of birth: <b>{{ person.place_of_birth }}</b></p></div>
          <div class="col"><p>Language: <b>{{ person.language }}</b></p></div>
        </div>
      </div>
    </div>
    <div class="card shadow-sm" style="margin-top: 1rem; margin-bottom: 2rem">
      <h5 class="card-header">Membership</h5>
      <div class="card-body">
        <div class="row">
          <div class="col">
            <p class="mb-0">Member of FLS: <b>{{ person.memberoffls.start_date }} &#8212;
              {{ person.memberoffls.end_date }}</b></p>
          </div>
          <div class="col">
            <p class="mb-0">Member of Duodecim: <b>{{ person.memberofduodecim.start_date }} &#8212;
              {{ person.memberofduodecim.end_date }}</b></p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock main %}