{% extends 'pages/base.html' %}
{% load static %}

{% block content %}
  <div id="persons_list" class="shadow-sm px-3 py-1"
       style="background-color: rgba(13,110,253,0.05); border-radius: 7px; margin: 1rem 1rem 1rem 0">
    <table class="table table-hover">
      <thead>
      <tr>
        <th scope="col" style="width: 2%">#</th>
        <th scope="col" style="width: 50%">Name</th>
        <th scope="col" style="width: 15%">Gender</th>
        <th scope="col" style="width: 15%">Birth</th>
        <th scope="col" style="width: 15%">Death</th>
        <th scope="col" style="width: 3%"></th>
      </tr>
      </thead>
      <tbody>
      {% for person in persons %}
        <tr onclick="window.location='#';" style="cursor:pointer;">
          <th scope="row">{{ forloop.counter }}</th>
          <td>{{ person.name }}</td>
          <td>{{ person.gender|default:"" }}</td>
          <td>{{ person.birth|date:"d/m/Y"|default:"" }}</td>
          <td>{{ person.death|default:"" }}</td>
          <td><i class="fa fa-chevron-right icon-hover"></i></td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}