@import url('https://fonts.googleapis.com/css2?family=Monda&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Monda", sans-serif;
}

li, a, button {
    font-family: "Monda", sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #4997c9;
    text-decoration: none;
}

.top-nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    height: 207px;
    background-color: #66afe9;
    border-bottom-left-radius: 77px;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.main-container {
    margin: 207px 0 0 0 ;
}

.logo {
    font-family: "Monda", sans-serif;
    font-weight: 600;
    color: #000000;
    cursor: default;
    font-size: 20px;
    text-decoration: underline;
}

.nav__links {
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding: 0 20px;
}

.nav__links li a {
    position: relative;
    text-decoration: none;
    color: #000;
}

.nav__links li a:hover {
    color: #000;
}

.nav__links li a::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.nav__links li a:hover::before {
    transform: scaleX(1);
}

.sign_in {
    padding: 9px 25px;
    background-color: #0c63a8;
    border: none;
    color: white;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.sign_in:hover {
    background-color: #074779;
}

.search {
    width: 100%;
    position: relative;
    display: flex;
}

.searchTerm {
    width: 100%;
    border: 3px solid #074779;
    border-right: none;
    padding: 5px;
    font-size: 16px;
    border-radius: 5px 0 0 5px;
    outline: none;
    font-weight: bold;
    color: #074779;
}

.searchTerm:focus {
    color: #074779;
}

.searchButton {
    width: 40px;
    border: 1px solid #074779;
    background: #074779;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap {
    width: 50%;
    padding: 30px 0 0 0;
    margin: 0 auto;
}
